In [16]:
!pip install pandas

Collecting pandas

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading pandas-1.5.2-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 2.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jonat\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ------------------------------------ 498.1/498.1 kB 465.9 kB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.5-cp311-cp311-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 2.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\jonat\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd

In [43]:
# Parse data from column of columns
columns = ["key","col_"]
data = [("1", "id=1&name=jack&favorite_color=blue"), ("2", "id=2&name=jill&favorite_color=green"), ("3", "id=3&name=jon&favorite_color=purple")]
spark = SparkSession.builder.getOrCreate()
# rdd = spark.sparkContext.parallelize(data)
# df = spark.createDataFrame(data).toDF(columns)

df = pd.DataFrame(data=data, columns=columns)

df1 = pd.concat([df[["key"]], df["col_"].str.split('&', expand=True)], axis=1)
df1.rename(columns=df1.iloc[0].str.split('=').str[0], inplace=True)
#df1.drop(df1.index[1:], inplace=True)

df1

   1    id       name         favorite_color
0  1  id=1  name=jack    favorite_color=blue
1  2  id=2  name=jill   favorite_color=green
2  3  id=3   name=jon  favorite_color=purple

In [15]:
print(len(data))

3