In [17]:
import pandas as pd

### Parse information from a column

In [153]:
# Starting dataset
# Create a column that has some kind of mapping to parse
columns = ["key","col_"]
data = [("1", "id=1&name=jack&fave_color=blue"), ("2", "id=2&name=jill&fave_color=green"), ("3", "id=3&name=jon&fave_color=purple")]

df = pd.DataFrame(data=data, columns=columns)
df

  key                             col_
0   1   id=1&name=jack&fave_color=blue
1   2  id=2&name=jill&fave_color=green
2   3  id=3&name=jon&fave_color=purple

In [155]:

df1 = pd.concat([df[["key"]], df["col_"].str.split('&', expand=True)], axis=1)
new_headers = df1.iloc[0].str.split('=').str[0]
df1.rename(columns=new_headers, inplace = True)
#df1.drop('1', axis = 1, inplace=True)
#df1[new_headers].str.split('=').str[1]
#df1
ser1 = df1.iloc[:,1].str.split('=').str[1]
ser2 = df1.iloc[:,2].str.split('=').str[1]
ser3 = df1.iloc[:,3].str.split('=').str[1]
# print(type(df1.iloc[:,2].str.split('=').str[1]))
# def remove_left(df1):
#     return df1["id"].apply(lambda x: x.split('=').str[1])

# Final Dataset
df2 = pd.concat([ser1,ser2,ser3], axis=1)
df2
# remove_left(df1)

# df1.iloc[:,1].apply(lambda x: x.split('=').str[1])

  id  name fave_color
0  1  jack       blue
1  2  jill      green
2  3   jon     purple